* {
    margin: 0;
    padding:00;
}


#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background-color: #eee;
    text-align: center;
}
#main h1 {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
}
#image {
    display: block;
    width:75%;
    max-width: 100%;
    height: auto;
    margin: 5px auto;
    object-fit: cover;
}
.image_div {
    background-color: white;
    overflow: hidden;
}
.image_div p, #main p {
    margin: 20px 0;
    font-size:1rem;
}
.time_line {
    width: 100%;
    margin: 10px auto;
    text-align: left;
}
.time_line blockquote {
    margin: 5px auto;
    text-align: left;
    max-width: 25%
}
.time_line h3{

    text-align: center;
    margin: 50px 0;
    font-size: 1.5rem;
}

.time_line ul {
    max-width: 500px;
    margin: 0 auto;
}

.time_line ul > li {
    margin: 10px 0;
}